.columns {
  vertical-align: middle;
  font-size: 140px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.instruction {
  margin: 100px;
}

.column {
  margin: 100px;
  width: 90%;
  background-color: white;
  display: inline-block;
}

label.column-label {
  font-family: "Courier New", Courier, monospace;
  font-size: 140px;
  color: #333;
  width: 50%;
  margin: 40px;
  clear: both;
}

input.column-input {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  display: inline;
  margin: 45px;
}
